.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50rem;
  width: 50rem;
  margin: 2rem auto;
}

.game-board {
  width: 21rem;
  height: 21rem;
  margin: 15px;
}

.game-info {
  width: 15rem;
  margin: 15px;
}

.game-info .status {
  color: #555;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.game-info .moves {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.game-info .moves li {
  color: #555;
  margin: 5px;
}

.game-info .moves li button {
  background-color: inherit;
  border: none;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, .2);
  color: #555;
  margin: 2px;
  padding: 5px 20px;
}

.game-info .moves li.current button {
  font-weight: bold;
}
