.square {
  color: #555;
  font-size: 3rem;
  text-align: center;
  background: inherit;
  height: 100%;
  width: 33.33%;
  border: none;
  padding: 0;
  float: left;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.square:focus {
  outline: none;
}

.square.selectable:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
}

.board-row .square:not(:first-child) {
  border-left: 1px solid #eee;

}

.game-board .board-row:not(:first-child) .square {
  border-top: 1px solid #eee;
}
